*{
    margin: 0;
    padding: 0;
    background-color: black;
}
body {
    color: #D3D3D3 ;
   
    
}
div {
    width: 950px;
    margin: 10px auto;
    text-align: left;
   
}
.topo{
    padding: 10px;
   
}
h1 {
    margin-bottom: 60px;
    font-size: 50px;
    text-align: left;
    line-height: 39px;
    color: #D3D3D3 ;

}
a{ 
    text-decoration: none;
    background-color: #139944;
    color: black;
    text-transform: uppercase;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    font-size: 17px;
    border: 1px solid #D3D3D3 ;
}
.descricao {
    display: flex;
    align-items: center;
   flex-direction: row-reverse;
    
}
.name{
    text-align: left;

}
.mudar{
    line-height: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
img{
  width: 350px;
}
.padrao{
    font-weight: 400;
    line-height: 15px;
    font-size: 20px;

}
#ferramentas, #contatos {
    padding-top: 60px;
    padding-bottom: 50px;
}
.descri {
    padding-bottom: 15px;
    text-decoration: underline;
}
.cont {
    
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 100px;
}
.back{
    padding: 60px;
    background-color: black;
    color: #D3D3D3;
    border: 1px solid  #139944;
    transition: background-color 0.9s ease, color 0.9s ease;
}
.back:hover{
    background-color: #139944;
    color: black;
}
footer{
    text-align: center;
    
}
h3{
    padding-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
}

